@model InsuranceSystem.MVC.Models.Catalogs.DepartmentModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DepartmentModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDelete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDelete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsGroup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirmId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirmId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
